<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

  <script src="https://kit.fontawesome.com/a2d20e5bcc.js" crossorigin="anonymous"></script>
</head>

<body class="index-body">
  <div id="app">
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span id="close-btn" class="close" onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-body">
          <div class="movie-img-modal">
            <img id="movie-img-modal"
              src="https://wallis-digital-cdn.app.vista.co/media/entity/get/FilmPosterGraphic/HO00001408?width=300&height=450&allowPlaceHolder=false"
              alt="">
          </div>
          <div class="movie-info-modal">
            <div class="movie-info-name" id="movie-info-name"></div>
            <div class="movie-info-duration" id="movie-info-duration">s</div>
            <div class="movie-info-about" id="movie-info-about"></div>
            <div class="buy-option">
              <div class="date-opt-ctn">
                <label for="date-opt">Date</label>
                <select id="date-opt" onchange="updateTime();updateSeat()">
                </select>
              </div>
              <div class="time-opt-ctn" onchange="updateSeat()">
                <label for="time-opt">Time</label>
                <select id="time-opt">
                </select>
              </div>
              <div class="seat-opt-ctn">
                <label for="seat-opt">Available Seat</label>
                <select id="seat-opt">
                </select>
              </div>
            </div>
            <div class="buy-btn">
              <button onclick="buyTicket()">BUY TICKET</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="menu">
      <div class="history">
        <button onclick="updateTicketList();vueinst.show_history = !vueinst.show_history;">History</button>
      </div>
      <div class="logout-btn">
        <button onclick="userLogout()">Logout</button>
      </div>
    </div>
    <div class="main-ctn" v-if="!show_history">
      <div class="filter-bar">
        <div class="search-bar">
          <select id="movie-search-id" class="search-input">
            <option value="">Any Movie</option>
            <option v-for="movie in all_movies" v-bind:value="movie.movie_id">{{movie.movie_name}}</option>
          </select>
        </div>
        <div class="date-filter"><input type="date" class="date-input" id="movie-search-date"></div>
        <div class="time-filter"><input type="time" class="time-input" id="movie-search-time"></div>
        <button class="search-btn" onclick="searchMovie()"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <div class="movie-ctn">
        <div v-for="movie in movies" class="movie-card" v-on:click="modalOpenHandler(movie)">
          <div class="movie-name">{{movie.movie_name}}</div>
          <div class="movie-img-overlay"></div>
          <div class="movie-img">
            <img v-bind:src="movie.imgUrl" alt="movie_image">
          </div>
        </div>
      </div>
    </div>
    <div class="main-ctn" v-if="show_history">
      <div class="ticket-ctn">
        <div v-for="ticket in tickets" class="ticket-card">
          <div class="ticket-title">TICKET</div>
          <div class="ticket-img">
            <img v-bind:src="ticket.imgUrl" alt="ticket_image">
          </div>
          <div class="ticket-info">
            <div class="ticket-name">{{ticket.movie_name}}</div>
            <table>
              <tr>
                <th class="th-1">ROOM</th>
                <th class="th-2">SEAT</th>
              </tr>
              <tr>
                <td class="bigger">{{ticket.room_number}}</td>
                <td class="bigger">{{ticket.seat_number}}</td>
              </tr>
            </table>
            <table>
              <tr>
                <th class="th-1">DATE</th>
                <th class="th-2">TIME</th>
              </tr>
              <tr>
                <td>{{ticket.date}}</td>
                <td>{{ticket.startTime}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./javascripts/script.js"></script>
</body>

</html>